.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    color: #0c26ff; /* blue-600 */
    background-color: #fff;
    border-color: #d1d5db; /* gray-300 */
    border-width: 1px;
    border-radius: 0.375rem; /* rounded */
}
.form-checkbox:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2f59ff, 0 0 #0000; /* focus:ring-blue-500 */
}
.form-checkbox:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
/* Mejora de scrollbars (opcional pero elegante) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f5f9; /* gray-100 */
}
::-webkit-scrollbar-thumb {
    background: #b3d3ff; /* blue-200 */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #88b4fc; /* blue-300 */
}