/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', sans-serif;
}

@theme {
  --color-blue-50: #e8f3ff;
  --color-blue-100: #d5e8ff;
  --color-blue-200: #b3d3ff;
  --color-blue-300: #85b4ff;
  --color-blue-400: #5686ff;
  --color-blue-500: #2f59ff;
  --color-blue-600: #0c26ff;
  --color-blue-700: #0019ff;
  --color-blue-800: #061dcd;
  --color-blue-900: #10249f;
  --color-blue-950: #0a135c;
}

.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
