<div class="min-h-screen w-full bg-gray-100">

  <div class="min-h-[70vh] w-full bg-cover bg-center bg-no-repeat text-white flex justify-center relative rounded-b-4xl pt-25" style="background-image: url('/assets/wallpaper-home.jpg');">
    <div class="absolute inset-0 bg-white opacity-70 rounded-b-4xl"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-[#677ea9] to-[#EFF6FC] opacity-60 rounded-b-4xl"></div>
    <div class="flex flex-col md:flex-row items-center justify-between px-4 relative z-10 gap-8 w-full md:w-[90%] max-w-6xl py-10">
      <div class="w-full">
        <h1 class="text-4xl font-medium text-blue-700 md:text-5xl mb-4 z-10 relative break-words">De la idea a la innovación</h1>
        <p class="text-2xl md:text-3xl z-10 relative max-w-2xl text-black font-medium break-words">Impulsa tu crecimiento con nuestras soluciones</p>
        <p class="text-gray-700 text-lg md:text-lg my-7 font-normal">Acelera tu producción desde el primer clic. Diseña tu máquina a la medida de tu éxito.</p>
        <div class="z-10 relative">
          <button routerLink="/configurator" class="flex gap-2 items-center px-4 py-2 md:px-6 md:py-3 text-sm md:text-base bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 text-white font-bold rounded-lg shadow-lg transition duration-300">Visualiza tu máquina
            <i class="pi pi-arrow-right text-white"></i>
          </button>
        </div>
      </div>
      <div class="min-w-full md:min-w-[30rem] flex justify-center">
        <img src="/assets/maquina.png" alt="Machine" width="100%" class="drop-shadow-lg rounded-lg"/>
      </div>
    </div>
    
  </div>
  

  <section class="py-16 px-4">
    <h2 class="text-4xl text-bold text-center">¿Por qué cotizar tu máquina con nosotros?</h2>
    <div class="max-w-6xl mx-auto grid md:grid-cols-3 gap-8 mt-10">
      <div class="bg-white p-8 rounded-2xl shadow-lg">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Experiencia</h2>
        <p class="text-gray-600">PREVITEC LTDA es una compañía con mas de 15 años de experiencia en generar soluciones de ingeniería.</p>
      </div>
      <div class="bg-white p-8 rounded-2xl shadow-lg">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Calidad</h2>
        <p class="text-gray-600">Nuestra dedicación a la excelencia nos impulsa a utilizar tecnología de punta en la fabricación de equipos, asegurando soluciones robustas y de alto rendimiento para tu industria.</p>
      </div>
      <div class="bg-white p-8 rounded-2xl shadow-lg">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Compromiso</h2>
        <p class="text-gray-600">Está comprometida con la innovación y el desarrollo de la industria colombiana 4.0, brindando a sus clientes un equipo altamente calificado</p>
      </div>
    </div>
  </section>

  
</div>

